.cartContainer{
    display: grid;
    grid-column-gap: 1.25rem;
    grid-row-gap: 1.25rem;
    grid-template-columns: repeat(12,minmax(0,1fr));
}
.shoppingHr {
    grid-column: 1/13;
    margin-right: 30px;
}
.emptyCart{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100vh - 90px);
    padding-top: 30vh;
}
.cartContainer h1{
    grid-column: 1/8;
    margin-top: 20px;
}
.orderSummary hr{
    grid-column: 1/8;
}
.orderItems{
    grid-column: 1/8;
}
.orderSummary{
    grid-column: 9/13;
    padding-right: 40px;
    margin-left:  -20px;
    position: sticky;
    max-height: calc(100vh - 20px);
    top: 20px;
}
.summaryContainer{
    position: sticky;
    display: flex;
    flex-direction: column;
}
.cartTotal{
    display: flex;
    justify-content: space-between;
}
.continueCheckout{
    text-decoration: none;
    background-color: rgb(0, 88, 163);
    padding: 40px 25px;
    display: flex;
    justify-content: space-between;
    border-radius: 4px;
}
.continueCheckout strong{
    color: white;
    display: flex;
    align-items: center;
    font-size: 17px;
}
.continueCheckout i{
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 64px;
    font-size: 20px;
}


@media screen and (max-width: 1200px){
    .orderItems{
        grid-column: 1/8;
        margin-right: 30px;
    }
    .orderSummary{
        grid-column: 8/13;
    }
}
@media screen and (max-width: 900px){
    .orderItems{
        grid-column: 1/13;
    }
    .orderSummary{
        grid-column: 1/13;
    }
}